.pt-heading {
  font-size: 18px;
}

.pt-headingRow th {
  background: #e4e4e4;
}

.pt-oddBodyRow {
  background: #f1f1f1;
}

.pt-chooseMember {
  position: absolute;
  right: 23px;
  top: 23px;
}

.pt-deleteButton:hover {
  cursor: pointer;
}

