.pt-employeeProjectsWrapper {
  margin: 30px 0;
}

.pt-employee-projects a {
  color: #484848;
}

.pt-employee-projects thead th.pt-employee-projects_heading {
  font-size: 15px;
  color: white;
  text-shadow: -1px -1px #207fc7;
  letter-spacing: 0.2px;
}

.pt-employee-projects thead th {
  background: #207fc7;
  color: #f3f3f3;
}

.pt-employee-projects td {
  border-right: 1px solid rgba(34,36,38,.1);
}

.pt-employee-projects tbody tr:nth-child(1) td {
  font-size: 15px;
  text-shadow: 0 0 1px #969696;
}

.pt-employee-projects tbody tr:nth-child(2) td {
  box-shadow: 0 -1.3px rgba(23, 107, 107, 0.28);
}

.pt-taskNameTd {
  background: #f3f3f3;
}

.pt-projectNameTd {
  box-shadow: 0 -1px rgba(34, 36, 38, 0.1);
}
