.pt-project-info {
  margin: 50px 0;
}

.pt-label {
  font-weight: 600;
}

.pt-projectName {
  font-size: 17px;
}

.pt-dashboard-button {
  margin-top: 20px;
}

.pt-imgTd {
  border-right: 1px solid rgba(34,36,38,.1);
}
