.pt-admin-projects {
  margin: 50px 0;
}

.pt-admin-projects a {
  color: black;
}

.pt-oddBodyRow {
  background: #f1f1f1;
}

.filterSectionWrapper {
  height: 38px;
  margin-bottom: 20px;
}

.pt-filterInput {
  width: 30%;
  min-width: 200px;
  float: left;
}

.pt-addEmployee {
  float: right;
  margin-top: 3px;
}
