.pt-task-info {
  margin-top: 50px;
}

.pt-label {
  font-weight: 600;
}

.pt-taskName {
  font-size: 17px;
}

.pt-actions {
  margin-top: 30px
}

.pt-actions_button:not(:last-child) {
  margin-right: 40px;
}
